__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

.vscode/

*.env
*.ini
*.cfg
*.txt

*.log
*.out

.DS_Store
Thumbs.db

*.egg
*.egg-info/
dist/
build/
*.dist-info/
*.manifest
*.spec

.coverage
htmlcov/
.pytest_cache/